bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

/lib/
/.idea/

Directory.Build.props.user
ONITwitch.sln.DotSettings.user

animsrc/

weight_tests/

# rust target folder
target/


node_modules/
twitch_integration_site/dist/
